body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
header{
    background-color: rgb(238, 46, 32);
    color: white;
    height: 40px;
    width: 100%;
    position: static;
    z-index: 10;
    font-size: 30px;
    padding-left: 25px;
    padding-top: 10px;
}
.escolha{
    color: white;
    text-decoration: none;
}
#menu {
    color: red; 
    font-weight: bold; 
    float: right;
    list-style: none;
    margin-top: 0px;
}
li{
    float: left;
    padding-top: 5;
    padding-bottom: 30;
    padding-right: 40;
    padding-left: 20;
    font-size: 20px;
}
.escolha:hover{
    background-color: brown;
}
#imagem_fundo {
    background: url("fundo.png");
    height: 100%;
    text-align: center;
    background-size: cover;
}
h1{
    margin-top: 0px;
}
#simb{
    width: 45px;
}
#titulo {
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
}
h2{
    padding-top: 10px;
    padding-left: 30px;
}
h3{
    padding-left: 30px; 
    color: grey;
    padding-top: 10px;
}
p{
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
}
img{
    padding-left: 20px; 
}
.destaque{
    background-color: #e4e1e1;
}
.dois{
    width: 40%;
}
.tres {
    width: 20%;
}
.center{
    text-align: center;
}
.imgcent{
    display: block;
    margin: 0 auto;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
}
.esquerda{
    float: left;
}